/* Body */
body {
  background-color: beige;
}
/* Game */
.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* Heading */
.heading {
  top: 0;
  font-size: 3rem;
  z-index: 2;
  text-align: center;

}
/* Rules button */
#rulesBtn {
  font-size: 20px;
  left: 10%;
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

/* modal content */
.modal-content {
  background-color: #fafafa;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

/* The close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Restart button */
#restartBtn {
  font-size: 20px;
  left: 10%;
}
/* Choices buttons */
.choices {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.rock {
  font-size: 40px;
  transition-duration: 0.6s;
  border-radius: 20%;
}
.rock:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.paper {
  font-size: 40px;
  transition-duration: 0.6s;
  border-radius: 20%;
}
.paper:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.scissors {
  font-size: 40px;
  transition-duration: 0.6s;
  border-radius: 20%;
}
.scissors:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.lizard {
  font-size: 40px;
  transition-duration: 0.6s;
  border-radius: 20%;
}
.lizard:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.spock {
  font-size: 40px;
  transition-duration: 0.6s;
  border-radius: 20%;
}
.spock:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Score Board */
.score {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  text-align: center;
}

/* Score */
.p-count, .c-count {
  text-align: center;
  font-size: 1.5rem;
  
}